body{
    font-family: 'Tahoma';
}
p{
    margin-right: 100px;
    margin-left: 100px;
}
h1, h2, h3 {
    color: rgb(39, 11, 86);
    text-align: center;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
    background-color: lightgreen;
}
h3{
    font-size: 18px;
    background-color: lightgreen;
}
div{
    background-color: rgb(245, 222, 239);
}

footer{
    color: rgb(40, 127, 49);
    text-align: center;    
}

img { 
    width: 250px; 
    height: auto; 
    max-height: 300px; 
    text-align: center;
} 

.logo-img { 
    width: 300px; 
    height:auto;
} 

.center{
    text-align: center;
}

.rightjustify{
    text-align: right;
}
